<input type="text" readonly="true" [ngModel]="file?.name">
<label for="file">Arquivo</label>
<input id="file" type="file" (change)="fileChanged($event)" >

<ng-container *ngIf="contents; else selectFile">
    <table *ngIf="contents.errors?.length">
        <caption>Erro na leitura do arquivo</caption>
        <thead>
            <th>row</th>
            <th>type</th>
            <th>code</th>
            <th>message</th>
        </thead>
        <tr *ngFor="let error of contents.errors">
            <td>{{error.row}}</td>
            <td>{{error.type}}</td>
            <td>{{error.code}}</td>
            <td>{{error.message}}</td>
        </tr>

    </table>
    <div *ngIf="!(contents.errors?.length)">
        <table>
            <thead>
                <th>
                    Nome
                    <input id="header" type="checkbox" [(ngModel)]="headerIncluded"><label for="header">A 1ª linha contém os nomes das colunas</label>

                </th>
                <th>Papel</th>
                <th>Tipo de dado</th>
            </thead>
            <tr *ngFor="let column of header">
                <td><input type="text" [(ngModel)]="column.name"></td>
                <td>
                    <select [(ngModel)]="column.role">
                        <option value="identifier">Identificador</option>
                        <option value="classifier">Classificador</option>
                        <option value="feature">Feature</option>
                        <option value="remark">Comentário</option>
                    </select> 
                </td>
                <td>
                    <select [(ngModel)]="column.datatype">
                        <option value="text">Texto</option>
                        <option value="number+eu">Número (europeu)</option>
                        <option value="number+us">Número (americano)</option>
                        <option value="date+yyyy-mm-dd">Data (aaaa-mm-dd)</option>
                        <option value="date+dd/mm/aaaa">Data (dd/mm/aaaa)</option>
                        <option value="date+mm/dd/aaaa">Data (mm/dd/aaaa)</option>
                    </select> 
                </td>
            </tr>
        </table>
        <table class="sample">
            <caption>{{data?.length || 0}} amostras</caption>
            <thead>
                <th class="lineno"></th>
                <th *ngFor="let column of header" [ngClass]="column.role">{{column.name}}</th>
            </thead>
            <tr *ngFor="let row of data; index as i">
                <td class="lineno">{{i + 1}}</td>
                <td *ngFor="let column of header; index as j" [ngClass]="column.role">{{row[j]}}</td>
            </tr>
        </table>
    </div>
    
</ng-container>
<ng-template #selectFile>
    Selecione um arquivo
</ng-template>
